.Contenu, .ContenuCentrer, .EnteteContenu {
  border-width: 0.5em;
  border-radius: 0.5em;
  background-color: #B0C4DE;
  text-align: left;
}

.Contenu a:link, .Contenu a:visited, .ContenuCentrer a:link, .ContenuCentrer a:visited {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.Contenu a:hover, .Contenu a:active, .ContenuCentrer a:hover, .ContenuCentrer a:active {
  color: #E12C44;
}

.ContenuCentrer, .EnteteContenu {
  text-align: center;
  margin: 0 auto;
}

.menu {
    border: 2px solid blue;
    padding: 10px;
    width: fit-content;
}

.dropdown-menu {
    display: none;
    margin-left: 20px;
    list-style-type: none;
}
